@font-face {
   font-family: 'HelveticaNowDisplay-Black';
   src: url('HelveticaNowDisplay-Black/font.ttf');
}
@font-face {
   font-family: 'HelveticaNowDisplay-Bold';
   src: url('HelveticaNowDisplay-Bold/font.ttf');
}
